{
  "presets": [
    "env"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {},
      "@babel/plugin-transform-runtime"
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {},
      "@babel/plugin-proposal-class-properties"
    ]
  ],
  "parserOpts": {
    "plugins": [
      "dynamicImport"
    ]
  }
}